* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #D9D9D9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

main {
  width: 50vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.title {
  font-weight: 500;
  color: #F9F4DA;
  margin-bottom: 0.125em;
}

.instructions {
  color: #8E8E8E;
  margin-top: 0.125em;
}

.status {
  background-color: #10A95B;
  color: #F9F4DA;
  padding: 1em;
  font-weight: 500;
  border-radius: 4px;
  width: 100%;
}

.status > h2,
.status > h3 {
  margin: 0.25em;
}

.language-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  font-size: 0.875rem;
  justify-content: center;
  align-items: center;
}

.language {
  padding: 1em 2em;
  border-radius: 3px;
}

.word-container {
  display: flex;
  gap: 0.25em;
  align-items: center;
}

.word-letter {
  background-color: #323232;
  color: #F9F4DA;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5em;
  height: 2.5em;
  width: 2.5em;
  border-bottom: 1px solid #F9F4DA;
}

.keyboard-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.keyboard-letter {
  background-color: #FCBA29;
  color: #1E1E1E;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  width: 2.5em;
  height: 2.5em;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  cursor: pointer;
}

.keyboard-letter:hover,
.keyboard-letter:focus {
  background-color: #fcc95a;
}

.keyboard-letter:active {
  background-color: #d39b22;
}

.new-game {
    background-color: #11B5E5;
    color: #fff;
    text-shadow: 0 0 3px #000;
    font-size: 1.5rem;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    padding: 0.5em 2em;
    display: block;
    margin-inline: auto;
    cursor: pointer;
}

.new-game:hover,
.new-game:focus {
  background-color: #18c6fb;
}

.new-game:active {
  background-color: #1090b7;
}

.guess-correct,
.guess-correct:hover,
.guess-correct:focus {
  background-color: #10A95B;
}

.guess-wrong,
.guess-wrong:hover,
.guess-wrong:focus {
  background-color: #EC5D49;
}